body {
    color: #585858;
    background-color: rgb(223, 218, 211);
    font-family:'Courier New', Courier, monospace;
    padding-inline: 10px;;
}

header {
    background-color: midnightblue;
    color: blanchedalmond;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 0px;
}

ul.navbar {
    position: relative;
    margin-top: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #444476;
    padding: 10px;
}

.navbar li {
    top:0px;
    left: 30px;
    width: -10px;
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgb(103, 102, 172);
}

.dropdown {
    position: relative;
    display: inline;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(96, 92, 125);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #d4d4d4;
    background-color: rgb(143, 139, 171)1);
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    color:antiquewhite;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media all {
    body {
        font-size: 16px;
    }
}

@media print {
    body {
        font-size: 12px;
        color: #000; 
    }
    header {
        background-color: #fff; 
        color: #000;
    }
}
